body {
  font-family: Arial, sans-serif;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
}

#gameContainer {
  margin-left: 80px; /* Căn lề trái */
  margin-top: 60px; /* Căn lề trên */
}

h1 {
  font-size: 24px;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label {
  flex: 4; /* Chiếm 2 phần của 12 phần */
  font-size: 18px;
  margin: 0;
}

.input-field {
  flex: 2; /* Chiếm 2 phần của 12 phần */
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
}

.zero-field {
  flex: 6; /* Chiếm 8 phần của 12 phần */
}

#playBtn {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  display: block;
  width: 20%;
  border-radius: 5px;
}

#square {
  width: 676px;
  height: 676px;
  background-color: white;
  margin-top: 20px;
  position: relative;
  border: 2px solid #333;
}
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #4caf50;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-size: 18px;
  font-weight: bold;
}
